@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Smart Door</h1>
    <p class="lead">The Smart Door is a home doorbell that notifies the homeowner on his smart phone when there is a visitor at the door. Users of the Smart Door will be able to interact with visitors remotely including video monitoring, two way audio and door unlocking functionality.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Goal</h2>
        <p>The goal of the Smart Door is to provide a system to facilitate, and improve interactions with visitors to one’s home or business. The Smart Door offers real time notification when the door bell is rung, or the door is opened or closed. The system features two way audio and one way video from the door to the mobile application. The mobile application will allow the user to view a live feed of the door, and lock/ unlock the door remotely. The system will include a web application that will contain a history of all the events the door records. The history will consist of a log of every time the door opens and closes with a timestamp, and a log of every door-to-mobile video interaction with a timestamp. The video log will allow the user to view, delete, and download the videos.</p>
    </div>
    <div class="col-md-4">
        <h2>Audience</h2>
        <p>The target audience for the Smart Door will be homeowners, and renters that would like to know in real time when a visitor is at their door. Business owners and secretaries can also use the Smart Door to interact with visitors in a safe and convenient manner. Absentee owners can use the Smart Door to monitor and interact with people at their remote property.</p>
    </div>
    <div class="col-md-4">
        <h2>Team</h2>
        <table>
            <thead>
                <tr>
                    <th>
                        Member
                    </th>
                    <th>
                        Role
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Sean Jones
                    </td>
                    <td>
                        Project Sponsor
                    </td>
                </tr>
                <tr>
                    <td>
                        Michael O’Dell
                    </td>
                    <td>
                        Project Supervisor
                    </td>
                </tr>
                <tr>
                    <td>
                        James Lunsford
                    </td>
                    <td>
                        Project Manager
                    </td>
                </tr>
                <tr>
                    <td>
                        Juan Duarte
                    </td>
                    <td>
                        Software Lead
                    </td>
                </tr>
                <tr>
                    <td>
                        Khuong Nguyen&nbsp;
                    </td>
                    <td>
                        Hardware Lead
                    </td>
                </tr>
                <tr>
                    <td>
                        Jay Otterbine
                    </td>
                    <td>
                        Web Lead
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>